.Sidebar {
    grid-area: sidebar;
    margin-left: 10px;
    border-radius: 7px;
    border: 1px solid var(--color-border);
    background: var(--color-dark-bg-1);
    box-shadow: 5px 0 5px var(--color-shadow);
}

.Sidebar__title {
    font-weight: bold;
    color: var(--color-text-light);
    width: 100%;
    padding: 17.5px 20px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: var(--color-purple-primary);
    border-bottom: 1px solid var(--color-text-light);
}

.Sidebar__list-subject {
    color: var(--color-text-light);
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 20px;
    margin: 5px 15px;
    transition: 0.3s;
    border-radius: 7px;
}

.Sidebar__list-subject:hover {
    background: var(--color-purple-primary);
    color: var(--color-text-light);
}

@media (max-width: 900px) {
    .Sidebar__title {
        display: none;
    }

    .Sidebar__list {
        display: flex;
        font-size: 0.8rem;
    }
}