.Sidebar {
    grid-area: sidebar;
}

.Sidebar__title {
    color: var(--color-text-light);
    border-bottom: 1px solid var(--color-text-light);
    width: 100%;
    padding: 17.5px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.Sidebar__list {
}

.Sidebar__list-subject {
    color: var(--color-text-light);
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 200;
    padding: 20px;
    margin: 5px 0 0 10px;
    transition: 0.3s;
    border-radius: 7px;
}

.Sidebar__list-subject:hover {
    background: var(--color-purple-primary);
    color: var(--color-text-light);
}