.FileContainer {
    grid-area: container;
    border-radius: 7px;
    background: var(--color-dark-bg-1);
    box-shadow: 0 -5px 5px var(--color-shadow);
    border: 1px solid var(--color-border);
    margin-right: 10px;
    overflow-y: scroll;
}