.Dashboard {
	display: grid;
	grid-template-areas: 	"header header"
							"sidebar subnavbar"
							"sidebar container";
	grid-template-rows: 80px 50px 1fr;
	grid-template-columns: 250px 1fr;
	grid-gap: 10px;
	background: var(--color-dark-bg);
	height: calc(100vh - 60px);
	color: var(--color-text-light);
}

@media (max-width: 900px) {
	.Dashboard {
		grid-template-rows: 60px 60px 60px 1fr;
		grid-template-columns: 1fr;
		grid-template-areas: 	"header"
								"sidebar"
								"subnavbar"
								"container"
	}	
}