.Dashboard {
	display: grid;
	grid-template-areas: 	". header"
							"sidebar subnavbar"
							"sidebar container";
	grid-template-rows: 80px 60px 1fr;
	grid-template-columns: 250px 1fr;
	background: var(--color-dark-bg);
	min-height: 650px;
	color: var(--color-text-light);
}