.Upload-form {
    font-size: 1rem;
    color: var(--text-primary);
    width: 100vw;
    max-width: 500px;
    border: 1px solid var(--accent-light);
    margin: 1rem auto;
    padding: 1rem 2rem;
    background: #000;
}

.Upload-title {
    text-align: center;
    font-weight: 400;
    margin: 1rem 0 2rem 0;
}

.Upload-input {
    display: grid;
    margin: 1rem 0;
}

.Upload-input input, select {
    color: var(--text-primary);
    width: 100%;
    height: 2.5rem;
    background: var(--accent-dark);
    border: 2px solid #000;
    outline: none;
    font-size: 1.2rem;
    transition: 0.3s;
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.Upload-input label {
    margin-left: 2px;
}

.Upload-input input:focus {
    box-shadow: 5px 5px 0 var(--accent-bright);
}

.Upload-submit {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #000;
    background: var(--accent-bright);
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.Upload-input input[type="file"] {
    display: none;
}

.Upload-fileupload {
    margin-top: 1rem;
    width: 100%;
    height: 100px;
    border: 2px dashed var(--accent-dark);
    display: grid;
    place-items: center;
    font-size: 1.2rem;
}

.Upload-fileupload span:nth-child(2) {
    font-size: 3rem;
}

.Upload-fileupload:hover {
    background: var(--hover-bg);
}