.Auth {
    background: var(--bg-primary);
    height: 100vh;
    border: 1px solid;
}

.Auth-container {
    font-size: 1rem;
    color: var(--text-primary);
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--accent-light);
    margin: 4rem auto;
    /* box-shadow: 0 20px 100px var(--accent-deeper); */
    padding: 1rem 2rem;
    background: #000;
}

.Auth-logo-container {
    display: grid;
    place-items: center;
}

.Auth-logo {
    height: 8rem;
}

.Auth-title {
    text-align: center;
    font-weight: 400;
    margin: 1rem 0 2rem 0;
}

.Auth-top {
    /* border: 1px solid var(--border-accent); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    height: 2rem;
    width: 100%;
    color: var(--accent-bright);
    margin-bottom: 3rem;
}

.Auth-options {
    background: var(--bg-primary);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    margin: 0 5px;
    cursor: pointer;
}

.Auth-options:hover {
    background: var(--bg-secondary);
}

.Auth-options.active {
    background: var(--accent-bright);
    color: #000;
}

.Auth-input {
    display: grid;
    margin: 1rem 0;
}

.Auth-input label {
    margin-left: 2px;
}

.Auth-input input {
    color: var(--text-primary);
    width: 100%;
    height: 2.5rem;
    background: var(--accent-dark);
    border: 2px solid #000;
    outline: none;
    font-size: 1.2rem;
    transition: 0.3s;
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.Auth-input input::placeholder {
    color: var(--text-primary);
    font-style: italic;
}

.Auth-input input:focus {
    box-shadow: 5px 5px 0 var(--accent-bright);
}

.Auth-submit {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #000;
    background: var(--accent-bright);
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.Auth-submit:active {
    background: var(--accent-primary);
}

.Auth-error {
    color: var(--error);
    margin-top: 1rem;
    text-align: center;
    display: block;
}