.FileCard {
    background: var(--accent-light);
    min-height: 9rem;
    font-size: 1rem;
    padding: 1rem;
    box-shadow: 0 0 transparent;
    border: 2px solid #000;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.FileCard-top {
    background: var(--accent-bright);
    font-weight: bold;
    padding: 0.3rem;
    border: 2px solid #000;
    position: relative;
    left: -1.5rem;
    font-size: 1.2rem;
}

.FileCard:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px 0 0 var(--accent-bright);
}

.FileCard-bottom a {
    background: #000;
    /* color: var(--text-primary); */
    color: var(--accent-bright);
    /* border-radius: 4px; */
    border: 2px solid #000;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px;
    transition: 0.3s;
}

.FileCard-bottom a:hover {
    background: transparent;
    color: #000; 
}