@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --color-dark-bg: #1A1A1A;
    --color-purple-primary: #593a8a;
    --color-text-light: #E0E0E0;
    --color-text-subtle: #A0A0A0;
    --color-input-border: #3A3A3A;
    --color-button-bg: #7C4DFF; 
    --color-button-hover-bg: #6A3CDA;
    --color-shadow: rgba(0, 0, 0, 0.5);
}