.SubNavbar {
    height: 2.5rem;
    background: #101010;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-accent);
}

.SubNavbar-container {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    /* for smooth side-scrolling */
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
}

.SubNavbar-link {
    color: var(--text-primary);
    text-decoration: none;
    margin: 0 1rem;
    white-space: nowrap;
}

.SubNavbar-link:hover {
    color: var(--accent-primary);
}

.SubNavbar-arrow {
    color: var(--text-primary);
}